.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 284px;
  height: 149px;
  margin: -74.5px 0 0 -142px;
}

.container>div:not(:first-child) {
  margin-top: 15px;
}

.container>div {
  height: 26px;
  line-height: 26px;
}

.container>div:nth-of-type(1) select {
  width: 55px;
}

[type=number] {
  width: 132px;
}

[name=gpsimu_source],
[name=object_source] {
  width: 155px;
}